

body{background:#eee;}

.font-loader {
  font-family: 'Roboto';
}


.soluxe-grid{
	display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5em;
    .soluxe-item{
    	background:#f8f8f8;
    	border:1px solid #ddd;
    	p{margin:0;font-weight:bold;}
    }
}